<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.cjgc.backend.mapper.SystemUserRoleMapper">
    <resultMap type="com.sp.cjgc.backend.domain.SystemUserRole" id="systemUserRoleResultMap">
        <id property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--列名-->
    <sql id="columns">
        user_id,
        role_id,
        create_time
    </sql>
</mapper>
